* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: antiquewhite;
}
main{
    min-height: 90vh;
}
.logo {
    width: 130px;
}


.nav-item{
    color: black!important;
    margin: 10px; 
    
}
.nav-item a{
    color: black;
    font-size: large;
    border-color: black;
}

li.nav-item{
    background-color: antiquewhite
}
li.nav-item a{
   background-color: rgb(251, 185, 238);
}
li.nav-item a:hover{
    background-color: rgb(201, 53, 246);
}
.categoria {
    display: flex;
    justify-content: space-around;
    margin: 50px;
    flex-wrap: wrap;
}
.container{
    padding: 10px;    
}
.carrusel{    
    background-color: blueviolet;
    height: 130px;
    margin-left: 0;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    align-items: center;   
    width: 100%;
}
.carrusel a{
    font-size: 50px;
    text-decoration: none;
    color: pink;
    font-weight: bolder;
    flex-wrap: wrap;
    
}
.carrusel  h4{
    font-size: 50px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}
.deslizar{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 10px;
   
}

.deslizar1{
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

footer {
    display: flex;
    justify-content: space-between;
    background-color: blueviolet;
    color: black;
    align-items:center;
    margin-top: 50px;
    
}

footer svg {
    width: 50px;
   
}
.iconos{
    display: flex;
    gap: 20px;

}
.iconos a{
    color: black;
}
.deslizar1 h4{
    flex-grow: 1;
    width: 500px;
    gap: 20px;
}
table{
    max-width:80%;
    
    
}
.tabla{
    display: flex;
    justify-content: center;
    align-items: center;
}
th{
    font-size: x-large;
    margin: 20px;
    padding: 20px;
    background-color: rgb(131, 127, 127);
    border-bottom: 1px solid black;
    
}
td{
    font-size: large;
    margin: 10px;
    padding: 10px;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    background-color: rgb(229, 235, 241);
}
.formulario{
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.formulario label{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
}
.formulario input{
    width: 400px;
}
.formulario span{
    font-size: x-large;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.boton{
    margin-top: 20px;
    display: flex;
    justify-content: end;
    font-size: x-large;
    
}
.boton button{
    margin: 5px;
    padding: 10px;
    background-color: rgb(7, 7, 7);
    color: rgb(193, 142, 240);
    font-weight: bolder;
 
}
.details{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 5rem;
   
}
.cardEvent .card{
    height: 100%;
}